<div class="chat-container">
    <div class="chat-header">
        <i class="pi pi-comments"></i> Pizzeria Talk
    </div>

    <div class="messages-list">
        @for (msg of messages; track $index) {
        <div class="message-row" [class.system]="msg.type === 'system'">
            <div class="message-meta">
                <span class="username">{{ msg.user }}</span>
                <span class="time">{{ msg.time }}</span>
            </div>
            <div class="message-text">{{ msg.text }}</div>
        </div>
        }
    </div>

    <div class="chat-input-area">
        <input type="text" pInputText placeholder="Scrivi un messaggio..." [(ngModel)]="newMessage"
            (keyup.enter)="sendMessage()" />
        <p-button icon="pi pi-send" (onClick)="sendMessage()"></p-button>
    </div>
</div>