<div class="login-container">
    <p-toast></p-toast>
    <p-card header="Reset Password" [style]="{width: '100%', maxWidth: '400px'}" class="login-card">
        <div class="logo-container">
            <img src="/assets/logo_full.png" alt="Pizza Express Logo" width="200" style="margin-bottom: 1rem;" />
        </div>

        @if (!submitted) {
        <div>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="field-container">
                    <span class="p-float-label">
                        <p-password id="password" formControlName="password" [feedback]="true" [toggleMask]="true"
                            class="w-full"></p-password>
                        <label for="password">New Password</label>
                    </span>
                    @if (resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty ||
                    resetForm.get('password')?.touched)) {
                    <small class="p-error block">
                        Password is required (min 6 chars).
                    </small>
                    }
                </div>

                <div class="field-container">
                    <span class="p-float-label">
                        <p-password id="confirmPassword" formControlName="confirmPassword" [feedback]="false"
                            [toggleMask]="true" class="w-full"></p-password>
                        <label for="confirmPassword">Confirm Password</label>
                    </span>
                    @if (resetForm.errors?.['mismatch'] && (resetForm.get('confirmPassword')?.dirty ||
                    resetForm.get('confirmPassword')?.touched)) {
                    <small class="p-error block">
                        Passwords do not match.
                    </small>
                    }
                </div>

                <button pButton label="RESET PASSWORD" type="submit" [loading]="loading" class="w-full mt-3"></button>
            </form>
        </div>
        } @else {
        <div class="text-center">
            <i class="pi pi-check-circle text-green-500" style="font-size: 3rem; margin-bottom: 1rem;"></i>
            <h3>Success!</h3>
            <p class="text-secondary mb-4">Your password has been reset successfully.</p>
            <button pButton label="LOGIN NOW" routerLink="/login" class="w-full"></button>
        </div>
        }

    </p-card>
    <app-footer></app-footer>
</div>