<div class="history-container">
    <div class="history-scroll">
        @for (item of gameSocket.history(); track $index) {
        <div class="history-badge"
            [ngClass]="{'high': item.multiplier >= 10, 'medium': item.multiplier >= 2 && item.multiplier < 10, 'low': item.multiplier < 2}"
            (click)="openDetails(item)" [style.cursor]="item.secret ? 'pointer' : 'default'"
            [title]="item.secret ? 'Verify Round' : ''">
            {{ item.multiplier.toFixed(2) }}x
        </div>
        }

        <button class="history-badge plus-btn" (click)="openFullHistory()">
            <i class="pi pi-ellipsis-h"></i>
        </button>
    </div>
    <app-history-modal></app-history-modal>
</div>