<div class="top-bar">
    <div class="brand">
        <img src="/assets/logo_full.png" alt="Pizza Express Logo" class="brand-logo" width="130" height="65"
            fetchpriority="high" loading="eager" />
    </div>

    <div class="actions">
        @if (user) {
        <div class="user-info mr-3">
            <div class="user-bar">
                <div class="user-avatar-wrapper">
                    <img [src]="getAvatarUrl(user)" class="user-avatar" (error)="onAvatarError($event)">
                </div>
                <div class="user-details ml-2">
                    <span class="username">{{ user.username }}</span>
                    <span class="user-balance">{{ user.balance | currency:'EUR' }}</span>
                </div>

                <div class="vertical-divider"></div>

                <div class="actions-row">
                    <button class="settings-icon-btn fairness-btn" (click)="openFairness()" title="Provably Fair">
                        <i class="pi pi-shield"></i>
                    </button>

                    <div class="volume-control-wrapper" (mouseenter)="showVolumeControls = true"
                        (mouseleave)="showVolumeControls = false">
                        <button class="settings-icon-btn">
                            <i class="pi" [class.pi-volume-up]="!isMusicMuted || !isSfxMuted"
                                [class.pi-volume-off]="isMusicMuted && isSfxMuted"></i>
                        </button>

                        @if (showVolumeControls) {
                        <div class="volume-dropdown">
                            <div class="vol-row" (click)="toggleSfx()">
                                <i class="pi" [class.pi-volume-up]="!isSfxMuted" [class.pi-volume-off]="isSfxMuted"></i>
                                <span>SFX</span>
                            </div>
                            <div class="vol-row" (click)="toggleMusic()">
                                <i class="pi" [class.pi-volume-up]="!isMusicMuted"
                                    [class.pi-volume-off]="isMusicMuted"></i>
                                <span>Music</span>
                            </div>
                            <div class="vol-slider-row">
                                <input type="range" min="0" max="100" [(ngModel)]="musicVolume"
                                    (input)="onVolumeChange()" title="Music Volume">
                            </div>
                        </div>
                        }
                    </div>

                    <button class="settings-icon-btn" (click)="openSettings()">
                        <i class="pi pi-cog"></i>
                    </button>

                    <button class="logout-icon-btn" (click)="onLogout()">
                        <i class="pi pi-sign-out"></i>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>

@if (user && user.balance <= 0.5) { <div class="balance-warning-banner">
    <i class="pi pi-info-circle mr-2"></i>
    <span>Your balance is empty. It will be automatically recharged to 500€ in 24 hours.</span>
    </div>
    }

    <app-settings-modal></app-settings-modal>
    <app-fairness-modal></app-fairness-modal>