<div class="login-container">
    <p-toast></p-toast>
    <p-card header="Pizza Express Login" [style]="{width: '100%', maxWidth: '400px'}" class="login-card">
        <div class="logo-container">
            <img src="/assets/logo_full.png" alt="Pizza Express Logo" width="200" style="margin-bottom: 1rem;" />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="field-container">
                <span class="p-float-label">
                    <input pInputText id="email" formControlName="email" class="w-full" />
                    <label for="email">Email</label>
                </span>
                @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched)) {
                <small class="p-error block">
                    Inserisci un'email valida.
                </small>
                }
            </div>

            <div class="field-container">
                <span class="p-float-label">
                    <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"
                        class="w-full"></p-password>
                    <label for="password">Password</label>
                </span>
                @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)) {
                <small class="p-error block">
                    La password è obbligatoria.
                </small>
                }
            </div>

            @if (error) {
            <div class="error-msg">
                <i class="pi pi-exclamation-circle"></i> {{ error }}
            </div>
            }

            <button pButton label="ACCEDI" type="submit" [loading]="loading" class="w-full submit-btn"></button>

            <div class="text-center mt-3">
                <span class="text-secondary">Non hai un account? </span>
                <a routerLink="/register" class="link">Registrati qui</a>
            </div>
        </form>
    </p-card>

    <app-footer></app-footer>
</div>