.bet-controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

@media (max-width: 992px) {
    .bet-controls-container {
        grid-template-columns: 1fr 1fr !important;
        gap: 0.25rem !important;
        max-width: 600px !important;
        margin: 0 auto !important;
    }
}