.bet-controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

@media (max-width: 992px) {
    .bet-controls-container {
        /* Force side-by-side on all mobile/tablets */
        gap: 0.25rem !important;
        /* Tighter gap */
    }
}