.home-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.text-xl {
    font-size: 1.25rem;
    font-weight: 500;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.gap-4 {
    gap: 1.5rem;
}